@import "../../utils/global.less";

.chartDiv {
  .header {
    width: 100%;
    height: 64px;
    line-height: 64px;
    background: #fff;
    padding: 0 20px;

    .backIcon {
      font-size: 20px !important;
      cursor: pointer;
      color: #878787;
    }

    .title {
      margin-left: 10px;
      font-family: PingFangSC-Medium;
      color: #0b1b45;
      font-size: 20px;
    }
  }

  .chartContent {
    .classBox {
      display: flex;
      flex-direction: row;
      padding: 10px 20px;

      div {
        margin-right: 10px;
        font-size: 14px;
        padding: 6px 14px;
        cursor: pointer;
      }
    }

    .check {
      background: rgba(4, 69, 252, 0.15);
      font-family: PingFangSC-Semibold;
      color: #0445fc;
      border-radius: 5px;
    }

    .flexBox {
      display: flex;
      flex-direction: row;
      width: 90%;
      height: calc(~"100vh - 193px");
      margin: 10px auto;

      .dashboardBox {
        background: #fff;
        overflow-y: scroll;
        width: 350px;
        height: 100%;
        border-radius: 20px;
        margin-right: 10px;
        position: relative;

        .dashboardTitle {
          font-family: PingFangSC-Semibold;
          color: #01113d;
          font-size: 20px;
          padding-top: 25px;
          padding-left: 20px;
        }

        .dashboardDom {
          width: 300px;
          height: 300px;
          margin: 0 auto;
          position: relative;
        }

        .rateBox {
          width: 100%;
          text-align: center;
          position: absolute;
          top: 160px;

          .num {
            font-family: PingFangSC-Semibold;
            font-size: 50px;
            color: #5182ff;
          }

          .rate {
            font-family: PingFangSC-Regular;
            color: #5182ff;
            font-size: 16px;
          }
        }

        .dataExplain {
          .explainBox {
            width: 250px;
            margin: 0 auto;
            position: relative;
            text-align: center;
            margin-bottom: 10px;
          }

          .text {
            // position: absolute;
            width: 100px;
            display: inline-block;
            vertical-align: middle;
            // left: 0;
            text-align: left;
            font-family: PingFangSC-Regular;
            color: #01113d;
            font-size: 16px;
          }

          .trans {
            display: inline-block;
            vertical-align: middle;
            width: 110px;
            color: #ccc;
          }

          .num {
            // position: absolute;
            width: 40px;
            // right: 0px;
            text-align: right;
            display: inline-block;
            vertical-align: middle;
            font-family: PingFangSC-Semibold;
            color: #01113d;
            font-size: 16px;
          }

          .stuNum {
            position: absolute;
            margin-left: 5px;
            text-align: right;
            display: inline-block;
            vertical-align: middle;
            font-family: PingFangSC-Semibold;
            color: #01113d;
            font-size: 16px;
          }
        }
      }

      .histogram {
        background: #fff;
        flex: 1;
        height: 100%;
        border-radius: 20px;

        .dashboardTitle {
          font-family: PingFangSC-Semibold;
          color: #01113d;
          font-size: 20px;
          padding-top: 25px;
          padding-left: 20px;
        }
      }
    }
  }
}

.classSourceRate {
  width: 900px;
  height: 500px;
  overflow-y: scroll;

  .annlysisBox {
    width: 500px;

    .rightAnswer {
      font-weight: 500;
      color: #000;
      font-size: 16px;
      margin-bottom: 15px;
    }

    .analysisMessage {
      font-size: 14px;
    }

    .analysisAnswerList {
      margin-bottom: 10px;
      padding: 5px 10px;
      border-radius: 10px;

      .optionRight {
        cursor: pointer;
        font-family: PingFangSC-Regular;
        color: #0445fc;
        position: absolute;
        right: 0;
      }
    }

    .rightBox {
      background: rgba(1, 17, 61, 0.03);
    }

    .userList {
      display: flex;
      flex-flow: row wrap;
      padding-bottom: 10px;
      // border-bottom: 1px solid #ddd;
      width: 100%;

      .teamBox {
        margin-top: 10px;
        width: 100%;
        color: #01113d;

        .addTeam {
          color: #0445fc;
          cursor: pointer;
          position: absolute;
          right: 0;
        }
      }

      .userItem {
        max-width: 80px;
      }

      position: relative;
    }

    .knowLadgeList {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      margin-left: 6px;

      .knowLadgeOptionTitle {
        font-family: PingFangSC-Regular;
        color: #01113d;
      }

      .knowLadgeItem {
        margin-left: 10px;
        margin-top: 5px;
        padding: 2px 4px;
        font-family: PingFangSC-Regular;
        color: #01113d;
        margin-bottom: 5px;
      }
    }

    .analisisHeader {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: #000;
      position: relative;

      .rightTitle {
        color: #6db1a0;
      }

      .rateBackground {
        height: 6px;
        margin-left: 10px;
        background: #dee0e3;
        border-radius: 3px;
        width: 270px;
        display: inline-block;
        overflow: hidden;
        cursor: pointer;

        .trueRate {
          height: 100%;
          display: block;
          border-radius: 3px;
        }

        .right {
          background: #1ec337;
          opacity: 0.851873;
        }

        .wrong {
          background: #f53126;
          opacity: 0.851873;
        }
      }
    }

    .answerAnalysis {
      display: flex;
      flex-direction: row;

      .title {
        color: #000;
        width: 80px;
      }
    }

    .knowLadgeBox {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;

      .title {
        color: #000;
        width: 80px;
      }

      .knowLadge {
        padding: 2px 6px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 8px;
        background: #dee0e3;
      }
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .questionType {
    background: rgba(59, 111, 245, 0.08);
    font-family: PingFangSC-Medium;
    color: #4d7fff;
    padding: 4px 20px 4px 10px;
    border-radius: 20px;
    display: inline-block;
  }

  .questionLevel {
    display: inline-block;
    padding: 4px 20px 4px 10px;
    font-family: PingFangSC-Medium;
    border-radius: 20px;
    margin-left: 10px;

    i {
      font-size: 18px;
    }
  }

  .easy {
    color: #67b251;
    background: rgba(103, 178, 81, 0.04);
  }

  .general {
    background-color: rgba(233, 182, 53, 0.04);
    color: rgb(233, 182, 53);
  }

  .difficult {
    background-color: rgba(221, 107, 71, 0.04);
    color: rgb(221, 107, 71);
  }

  .rateQustionTxt {
    color: #000;
    font-size: 20px;
    margin-bottom: 15px;
    overflow: hidden;
  }
}

.optionArea {
  // display: flex;
  // display: -webkit-flex;
  align-items: center;
  display: inline-block;
  margin-right: 20px;
}

.optionStyle {
  color: #666;
  // width: 800px;
  min-height: 32px;
  font-size: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  padding: 6px 20px !important;
  position: relative;
  margin-bottom: 1em !important;

  &::after {
    clear: both;
  }

  p:first-child {
    display: inline-block;
    margin-bottom: 0;
  }

  div:first-child {
    display: inline-block;
    margin-bottom: 0;
  }

  img {
    max-width: 900px !important;
    max-height: 300px !important;
    object-fit: contain;
    cursor: pointer;
  }

  .rateBar {
    height: 2px;
    position: absolute;
    top: -1px;
    left: 0;
  }

  .choose {
    margin-right: 8px;
  }
}

.analysisPerson {
  margin-left: 20px !important;
  color: #999;

  .person {
    display: block;
    font-size: 14px;
  }

  .rate {
    display: block;
    font-size: 12px;
  }
}

:global(.rightTooltip) {
  background: #0b9c37;
  width: 5px;
  height: 5px;
  display: inline-block;
  vertical-align: middle;
  color: #37c930;
}

:global(.wrongTooltip) {
  background: #9c0b11;
  width: 5px;
  height: 5px;
  display: inline-block;
  vertical-align: middle;
}

:global(.noReply) {
  background: #ffe030;
  width: 5px;
  height: 5px;
  display: inline-block;
  vertical-align: middle;
}

.teamModal {
  .header {
    position: relative;
    text-align: center;

    .uploadTitle {
      line-height: 24px;
      font-size: 18px;
      color: #303133;
    }

    .iconfont {
      position: absolute;
      right: 0;
      top: 0;
      line-height: 24px;
      cursor: pointer;
    }

    margin-bottom: 10px;
  }

  .stuBox {
    margin-top: 10px;

    :global(.ant-checkbox-group-item) {
      display: block;
    }
  }
}

.personContent {
  max-width: 410px;
  max-height: 200px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.avatarInfo {
  background: #fff;
  margin-top: 10px;
  width: 48px;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;

  .avatarUrl {
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: block;
    margin-bottom: 5px;
    border-radius: 50%;
  }

  .avatarName {
    color: #000;
    font-size: 12px;
    margin-bottom: 5px;
    display: block;
    width: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    overflow: hidden;
    font-style: normal;
  }
}
