@import "../../utils/global.less";

.active {
  color: #0445fc;
}

.noSelect {
  /* Safari */

  /* Firefox */

  /* IE/Edge */
  user-select: none;

  /* 标准语法 */
}

.toolPropertiesContent {
  :global {
    .ant-popover-arrow {
      display: none;
    }
  }
}
