.studentAccomplishmentTable {
  padding: 10px 20px 0;
  width: 100%;
}

.tableBox {
  width: 100%;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
}

.filters {
  display: flex;
  align-items: center;
}

.groupSelect {
  width: 160px;
  margin-right: 12px;
}

.search {
  width: 220px;
}

.contentBody {
  padding: 20px;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  padding-top: 16px;
}

.noPass {
  color: #fc7d7d;
}
