.stuList {
  background: #fff;
  overflow: auto;
  border-radius: 8px;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  width: 100%;

  /* 滚动条样式 */
  &::-webkit-scrollbar {
    width: 8px;

    /*  设置纵轴（y轴）轴滚动条 */
    height: 4px;

    /*  设置横轴（x轴）轴滚动条 */
  }

  /* 滚动条滑块（里面小方块） */
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #c1c1c1;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #7d7d7d;
  }

  /* 滚动条轨道 */
  &::-webkit-scrollbar-track {
    border-radius: 8px;
    background: #fafafa;
    box-shadow: inset 0 0 5px rgba(104, 100, 100, 0.2);
  }

  .headerOptionBox {
    width: 100%;
    padding: 10px 16px;
    border-bottom: 1px solid rgba(1, 17, 61, 0.07);
  }

  .isChecked {
    background: rgba(4, 69, 252, 0.03);
    font-family: PingFangSC-Medium;
    color: #0445fc;
  }

  .userBox {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    align-items: center;
    padding-left: 20px;

    .imgBox {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    .nameBox {
      margin-left: 5px;
      height: 40px;
      line-height: 40px;
      cursor: pointer;
    }
  }
}
