.form {
  :global {
    .ant-form-item {
      margin-bottom: 12px;
    }

    .ant-upload.ant-upload-drag:not(.ant-upload-disabled):hover {
      border-color: #0445fc;
    }
  }

  .uploadFileActive {
    color: #0445fc;
    border-color: #0445fc;

    :global {
      .ant-upload-drag-container {
        color: #0445fc;
      }
    }
  }
}

.fileRow {
  display: flex;
  gap: 16px;
}

.fileItem {
  flex: 1;
}

.gridRow {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.gridItem {
  flex: 1;
  min-width: 200px;
}

.tabs {
  display: flex;
  border-radius: 7px;
  background: #ffffff;
  background-color: #f1f5f9;
  color: #64748b;
  padding: 3px;

  .tab {
    flex: 1 1 0%;
    line-height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 7px;
    font-size: 13px;
    border: none;
    cursor: pointer;
  }

  .tabActive {
    transition: all 0.3s;
    color: #01113d;
    background: #fff;
    font-weight: 500;
  }

  .tabDisabled {
    cursor: not-allowed;
    color: #64748b;
    background: #f1f5f9;
    font-weight: 400;
  }
}
