.questionAnalysis {
  // border-top: 1px solid #eee;
  padding: 10px 0 14px;
  background: #ffffff;
  box-shadow: inset 0 -1px 0 0 rgba(1, 17, 61, 0.04);

  img {
    max-width: 900px !important;
    max-height: 300px !important;
    object-fit: contain;
    cursor: pointer;
  }

  .projectStyle {
    // font-size: 14px;
    font-weight: 600;
    color: #01113d;
    display: flex;
    margin: 0 0 4px 16px;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  .labelStyle {
    display: inline-block;
    min-width: 84px;
    margin-right: 14px;
    text-wrap: nowrap;
    font-family: "PingFang SC";
    // font-size: 14px;
    font-weight: 500;
    // line-height: 22px;
    color: rgba(1, 17, 61, 0.7477);
  }

  .projectDetail {
    flex-grow: 1;
    font-family: "PingFang SC";
    // font-size: 14px;
    font-weight: normal;
    // line-height: 22px;
    color: rgba(1, 17, 61, 0.7477);
  }

  .itemContent {
    // line-height: 22px;
  }

  .itemChildAnswer {
    font-family: PingFangSC-Regular;
    color: #01113d;
    flex: 1;
    white-space: pre-wrap;
    display: flex;
    flex-flow: row wrap;
    align-items: start;
  }
}

.childAnsContent {
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: start;

  .answerFLex {
    display: flex;
    flex-direction: row;
    align-items: start;
  }
}

.chapterSort {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.analysisChild {
  display: flex;
  flex-direction: row;
  white-space: pre-wrap;
  align-items: start;
  width: 100%;
  // padding-left: 70px;
}

.chapterItem {
  display: inline-block;
  border-radius: 5px;
  border: 1px solid rgba(1, 17, 61, 0.2);
  font-family: "PingFang SC";
  // font-size: 12px;
  font-weight: normal;
  // height: 22px;
  // line-height: 22px;
  padding: 0 8px;
  letter-spacing: 0;
  color: #01113d;
  margin-right: 12px;
  text-wrap: nowrap;
  white-space: pre;
}
