:global {
  .modalMachineTest {
    .ant-modal .ant-modal-content .ant-modal-body {
      padding-top: 5px;
      min-height: 500px;
    }

    .ant-tabs-nav {
      display: block;
    }

    .ant-tabs-tab {
      width: 50%;
      text-align: center;
      margin: 0;
    }

    .ant-tabs-nav .ant-tabs-tab {
      cursor: default;
    }

    .ant-tabs-nav .ant-tabs-tab:hover {
      color: #0445fc;
    }

    .ant-tabs-nav .ant-tabs-tab-active {
      color: #0445fc;
    }

    .ant-tabs-ink-bar {
      background-color: #0445fc;
      height: 3px;
    }
  }
}

.textStyle {
  display: flex;
  align-items: center;
  margin: 20px 0 0 20px;

  .text {
    font-family: PingFangSC-Regular;
    color: #01113d;
    font-size: 15px;
    margin-right: 5px;
  }

  .label {
    font-family: PingFangSC-Light;
    color: #0445fc;
    display: inline-block;
    margin-right: 5px;
    font-size: 20px;
  }
}

.fileContent {
  background-color: #f1f1f1;
  border-radius: 14px;
  padding: 8px;
  margin: 0 30px;

  li {
    list-style: none;
    margin: 10px 0;
  }

  .label {
    display: inline-block;
    margin-right: 10px;
  }

  .fileName {
    display: inline-block;
    padding: 5px 10px;
    background-color: rgba(1, 17, 61, 0.07);
    border-radius: 4px;
    position: relative;
  }

  .closeIcon {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    right: -8px;
    top: -8px;
    font-size: 18px;
  }
}

.historyTag {
  position: absolute;
  bottom: 17px;
  left: 24px;
  cursor: pointer;
}

.remark {
  font-size: 12px;
  margin-right: 10px;
  vertical-align: middle;
  display: inline-block;
  width: 140px;
}

.downloadSpan {
  color: #0445fc;
  cursor: pointer;
}

.uploadContent {
  width: 100%;
}

.modalContentBody {
  width: 100%;
  margin-top: 16px;
}

.remarks {
  padding-left: 25px;
  font-family: PingFangSC-Regular;
  color: rgba(1, 17, 61, 0.65);
  font-size: 14px;
  margin-bottom: 16px;
}
