.questionContent {
  width: 100%;
}

.questionHeader {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;

  img {
    object-fit: contain;
    cursor: pointer;
  }
}

.scoreWarp {
  float: left;
  white-space: nowrap;
  font-weight: 500;
  color: #01113d;
}
