.closeBtn {
  color: rgba(1, 17, 61, 0.65);
  font-size: 14px;
  cursor: pointer;
}

.modalContent {
  p {
    font-size: 16px;
    font-family: PingFangSC-Regular;
    color: #01113d;
    width: 264px;
    margin: 10px auto 20px;
  }

  .buttonStyle {
    text-align: right;

    span {
      display: inline-block;
      font-family: PingFangSC-Medium;
      font-size: 14px;
      border-radius: 5px;
      cursor: pointer;
    }

    .giveup {
      background: rgba(1, 17, 61, 0.1);
      padding: 7px 28px;
      color: rgba(1, 17, 61, 0.65);
      margin-right: 16px;
    }

    .startEdit {
      background: #0445fc;
      color: #fff;
      padding: 7px 14px;
    }
  }
}
