.topicContent {
}

.questionContent {
  width: 100%;
}

.scoreWarp {
  float: left;
  white-space: nowrap;
  font-weight: 500;
  color: #01113d;
}

.questionContentWarp {
  color: #01113d;
}

.childBox {
  color: #01113d;
}

.questionOptions {
  margin-top: 16px;
}

.childQuestionItem,
.questionItem {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;

  img {
    max-width: 900px !important;
    max-height: 300px !important;
    object-fit: contain;
    cursor: pointer;
  }
}

.questionSerialNumber {
  height: 100%;
}
