.modeSwitcher {
  height: 44px;
  display: flex;
  align-items: center;
  background: #f7f8f9;
  border: 1px solid #e9eaee;
  margin-top: 20px;
  width: 100%;

  .activeScore {
    cursor: pointer;
    width: 50%;
    text-align: center;
  }

  .activeScore:hover {
    color: #0445fc;
  }
}
