@import "../../../../utils/global.less";

.exam_title {
}

.editable_title {
  font-family: PingFangSC-Medium;
  width: 70%;
  font-size: 20px;
  color: #4c4c4c;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.editable_title_input {
  height: auto;
}

.editable_title_text {
  padding: 4px 0;
  line-height: 1.5;
  border: 1px solid transparent;
}

.editable_title_icon {
  color: #4d7fff;
  cursor: pointer;
  margin-left: 16px;
  font-size: 14px;
}
