@import "../../../../utils/global.less";

.navigation_tabs {
  color: rgba(1, 17, 61, 0.65);
  font-size: 14px;
  cursor: pointer;
  display: flex;
  line-height: 1;
}

.tab {
  margin-right: 20px;
  padding: 17px 10px 10px;
}

.tab.active {
  color: #4d7fff;
  border-bottom: 2px solid #4d7fff;
}
