.imgModal {
  & > div > div {
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.8);
    padding: 0;
  }
}

.modalBack {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeBtn {
  position: absolute;
  z-index: 99;
  color: #000;
  font-size: 30px;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.imgStyle {
  display: block;
  width: auto;
  height: auto;
  max-width: 98%;
  max-height: 98%;
  margin: 30px auto;
}
