.analysisTabBox {
  display: flex;
  width: 100%;
  font-family: "PingFang SC";
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
  color: rgba(1, 17, 61, 0.6479);
  padding: 11px 16px;
  background-color: #fff;
  border-top: 1px solid rgba(1, 17, 61, 0.04);
  border-bottom: 1px solid rgba(1, 17, 61, 0.04);

  .analysisTab {
    margin-right: 24px;
  }

  .active {
    color: #0445fc;
  }
}

.selectStyle {
  :global {
    .ant-select-selection {
      border-radius: 8px;
    }

    .ant-select-selection--single {
      height: 32px;
    }

    .ant-select-selection__rendered {
      margin-left: 11px;
      margin-right: 11px;
      line-height: 32px;
    }
  }
}

.optionsBox {
  width: 100%;
  background: #fff;
  padding: 8px 0 8px 10px;
  display: flex;
  align-items: center;
}

.viewAllBtn {
  color: #0445fc;
  margin-left: auto;
}
