.tableHeader {
  height: 56px;
  display: flex;
  align-items: center;

  .tableHeaderTitle {
    font-family: "PingFang SC";
    font-size: 18px;
    font-weight: 600;
    color: #01113d;
    text-wrap: nowrap;
    margin-right: 9px;
  }

  .point {
    width: 10px;
    height: 19px;
    border-radius: 3px;
    background: #04c919;
    margin-right: 8px;
  }
}
