.directory {
  background: #fff;
  box-shadow: 0 1px 4px -4px rgba(1, 17, 61, 0.12);
  border-radius: 10px;
  padding: 15px;

  .elevatorTitle {
    font-family: PingFangSC-Medium;
    color: #01113d 100%;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
  }

  .elevatorListItem {
    font-family: PingFangSC-Regular;
    color: #01113d;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
  }

  .elevatorListItem.active {
    font-family: PingFangSC-Medium;
    color: #0445fc !important;
  }
}
