.menuTab {
  margin-right: 33px;

  .normal {
    display: inline-block;
    height: 36px;
    border: 1px solid rgba(1, 17, 61, 0.05);
    padding: 0 10px;
    line-height: 36px;
    font-family: PingFangSC-Regular;
    color: #01113d;
    cursor: pointer;
  }

  .cur {
    background: rgba(4, 69, 252, 0.1);
    font-family: PingFangSC-Regular;
    color: #0445fc;
  }

  .leftMal {
    border-radius: 5px 0 0 5px;
  }

  .rightMal {
    border-radius: 0 5px 5px 0;
  }
}
