@import "../../utils/global.less";

.selectBox {
  margin-top: 12px;
  font-family: PingFangSC-Medium;
  color: rgba(1, 17, 61, 0.7);

  .selectMethod {
    margin-right: 30px;
  }

  .setByPercentage {
    margin-right: 15px;
  }
}

.numPhaseBox {
  // text-align: center;
  // margin-left: -40px;
  position: relative;

  .numPhase {
    display: inline-block;
    width: 67px;
    height: 36px;
    border: 1px solid rgba(1, 17, 61, 0.12);
    border-radius: 6px;
    line-height: 36px;
    text-align: center;
    margin: 15px 12px 12px;
  }

  .floatRight {
    position: absolute;
    top: 23px;
    right: 0;
  }
}

.paragraph {
  display: inline-block;
  width: 50px;
  text-align: left;
  margin-left: 114px;
}
