.fileOne {
  width: 205px;
  height: 61px;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  border-radius: 10px;
  background: #fbfcfc;
  border: 1px solid rgba(1, 17, 61, 0.1);
  margin: 0 14px 15px 0;
  box-shadow: 0 2px 8px 0 rgba(1, 17, 61, 0.02);
}

.fileOne span {
  display: inline-block;
}

.fileOne .fileCover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 61px;
  width: 83px;
  position: relative;
  background-color: #efefef;
  border-right: 1px solid #efefef;
}

.fileOne .fileInfo {
  height: 61px;
  vertical-align: top;
  margin-left: 8px;
  padding: 13px 0;
}

.fileOne .fileInfo .fileName {
  font-size: 13px;
  color: #01113d;
  font-style: normal;
  display: block;
  width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.fileOne .fileInfo .fileSize {
  font-style: normal;
  color: rgba(1, 17, 61, 0.45);
  font-size: 12px;
  margin-top: 8px;
}

.fileOne {
  width: 205px;
  height: 61px;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  border-radius: 10px;
  background: #fbfcfc;
  border: 1px solid rgba(1, 17, 61, 0.1);
  margin: 0 14px 15px 0;
  box-shadow: 0 2px 8px 0 rgba(1, 17, 61, 0.02);
  position: relative;
}

.fileOne span {
  display: inline-block;
}

.fileOne .fileCover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 61px;
  width: 83px;
  position: relative;
  background-color: #efefef;
  border-right: 1px solid #efefef;
}

.fileOne .fileInfo {
  height: 61px;
  vertical-align: top;
  margin-left: 8px;
  padding: 13px 0;
}

.fileOne .fileInfo .fileName {
  font-size: 13px;
  color: #01113d;
  font-style: normal;
  display: block;
  width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.fileOne .fileInfo .fileSize {
  font-style: normal;
  color: rgba(1, 17, 61, 0.45);
  font-size: 12px;
  margin-top: 8px;
}

.fileOne .deleteIcon {
  position: absolute;
  right: 0;
  top: -2px;
  color: #596380;
  font-size: 15px;
  cursor: pointer;
}
