.areaHeaderComponent {
  display: flex;
  padding: 12px 16px;
  align-items: center;
  border-bottom: 1px solid rgba(1, 17, 61, 0.07);
}

.title {
  font-family: "PingFang SC";
  font-size: 16px;
  font-weight: 500;
  color: #01113d;
  margin-right: 20px;
  white-space: nowrap;
}

.leftPanel {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.rightPanel {
  flex-grow: 1;
  display: flex;
  justify-content: end;
  align-items: center;
}

.export {
  cursor: pointer;
  font-size: 13px;
  color: #0445fc;
  white-space: nowrap;
}

.export-arrow {
  margin-left: 4px;
  font-size: 12px;
}

.fullscreenBtn {
  margin-left: 16px;
  cursor: pointer;
}
