@import "../../utils/global.less";

.newMyQuestion {
  width: 100%;
  height: 100%;
  padding: 0 11px;
  background-color: #f5f6f7;
}

.searchBar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;

  .testPaperRecordingIpad {
  }

  .testPaperRecording {
    display: flex;
    height: 100%;
    align-items: center;
  }

  .inline {
    margin-right: 10px;

    :global(.ant-input-search) {
      height: 36px !important;
      line-height: 36px;
      background: #ffffff;
      border-radius: 7px;
      box-shadow: 0 2px 8px 0 rgba(1, 17, 61, 0.04);
    }

    :global(.ant-input) {
      border: none;
      border-radius: 7px;
    }

    :global(.ant-input:focus) {
      box-shadow: none;
    }
  }

  .entryTitle {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    cursor: pointer;
    font-family: PingFangSC-Medium;
    color: #fff !important;
    background: #0445fc;
    border-radius: 10px;
    padding: 0 10px;
  }

  .buyCar {
    display: inline-block;
    margin-right: 12px;
    height: 36px;
    line-height: 36px;
    cursor: pointer;
    font-family: PingFangSC-Regular;
    color: #0445fc !important;
    background: rgba(4, 69, 252, 0.1);
    border-radius: 10px;
    padding: 0 10px;

    .count {
      margin-left: 5px;
    }

    .split {
      color: rgb(148, 170, 244) !important;
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  .inlineKnowledgePoints {
    margin-right: 10px;

    :global(.ant-select-selection) {
      border-radius: 7px;
      color: #999;
    }

    :global(.ant-input-search) {
      height: 36px !important;
      line-height: 36px;
    }

    :global(.ant-select-selection) {
      height: 36px;
      line-height: 36px;
    }

    :global(.ant-select-selection__rendered) {
      line-height: 36px;
    }

    :global(.ant-input) {
      border-radius: 7px;
      color: #999;
    }

    :global(.ant-input-search) {
      width: 150px;
      height: 34px;
    }

    :global(.ant-select-selection__choice) {
      margin-top: 5px;
    }
  }
}

.content {
  width: 100%;
  height: calc(~"100% - 60px");
  display: flex;
}

.rightContent {
  border-radius: 11px;
  height: 100%;
  width: calc(~"100% - 341px");
  display: flex;
  flex-direction: column;
  position: relative;
}

.deletePopover {
  // :global(.ant-popover-inner-content) {
  // 	padding: 20px;
  // 	text-align: right;
  // 	max-width: 300px;

  // 	:global(.ant-btn) {
  // 		margin-left: 10px;
  // 		border-radius: 7px;
  // 	}

  // 	:global(.ant-btn-primary) {
  // 		background: #4D7FFF;
  // 	}

  // 	.messageContent {
  // 		font-family: PingFangSC-Regular;
  // 		color: #000000;
  // 		font-size: 16px;
  // 		text-align: center;
  // 		margin-bottom: 10px;
  // 	}
  // }
}

.tableWarp {
  flex: 1;
  overflow-y: auto;

  :global(.ant-spin-nested-loading) {
    height: 100%;

    :global(.ant-spin-container) {
      height: 100%;
    }
  }
}

.questionMapList {
  height: calc(~"100% - 0px");
  position: relative;

  .listItem {
    border: 2px solid transparent;
    background-color: #fff;
    // box-shadow: 0px 2px 6px 0px rgba(59, 111, 245, 0.18);
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 15px 20px 1px;

    .modulecontent {
      margin-bottom: 15px;
      overflow: hidden;
      font-family: PingFangSC-Regular;
      color: rgba(1, 17, 61, 0.85);

      .childContent {
        display: flex;
        flex-direction: row;
        align-items: start;
        padding-left: 20px;

        .childTitle {
          width: 30px;
        }

        .childBox {
          flex: 1;
          white-space: pre-wrap;
        }
      }

      p {
        display: inline-block;
      }

      div {
        display: inline-block;
      }

      img {
        max-width: 900px !important;
        max-height: 300px !important;
        object-fit: contain;
        cursor: pointer;
      }
    }

    .optionBox {
      display: flex;
      flex-wrap: wrap;
    }

    .optionList {
      background: #ffffff;
      margin-bottom: 8px;
      display: flex;
      flex-direction: row;
      line-height: 40px;
      margin-right: 20px;
      min-width: 20%;
      align-items: center;

      .opListLeft {
        width: 30px;
        text-align: center;

        .optionIcon {
          font-size: 20px;
          color: #000;
          opacity: 0.1;
        }
      }

      .opListRight {
        flex: 1;
        padding-left: 10px;
        padding-right: 10px;
        font-family: PingFangSC-Regular;
        color: rgba(1, 17, 61, 0.85);

        p:first-child {
          display: inline-block;
          margin-bottom: 0;
        }

        div:first-child {
          display: inline-block;
          margin-bottom: 0;
        }

        img {
          max-width: 900px !important;
          max-height: 300px !important;
          object-fit: contain;
          cursor: pointer;
        }

        p {
          display: inline-block;
        }

        div {
          display: inline-block;
        }
      }
    }

    .trueValue {
      background: #ffffff;

      .opListLeft {
        .optionIcon {
          font-size: 20px;
          color: #fff !important;
          opacity: 1 !important;
        }
      }
    }

    .moduleBottom {
      width: 100%;
      border-top: 1px solid #ccc;
      // position: relative;

      .text {
        font-family: "PingFang SC";
        font-size: 13px;
        // font-weight: 500;
        line-height: 16px;
        color: rgba(1, 17, 61, 0.85);
        white-space: nowrap;
      }

      .viewBottom {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 52px;
      }

      .isAddedContent {
        display: inline-block;

        .isAdded {
          margin-right: 20px;
          font-family: PingFangSC-Regular;
          color: #0258bf;
        }
      }

      .bottomBtn {
        margin-top: 0;
        display: flex;
        flex: 1;
        flex-direction: row-reverse;

        .viewResolution {
          font-family: "PingFang SC";
          font-size: 14px;
          line-height: 32px;
          color: rgba(1, 17, 61, 0.65);
          cursor: pointer;
          padding: 0 10px;
          margin-right: 12px;
          border-radius: 7px;
          background: rgba(1, 17, 61, 0.05);
          text-wrap: nowrap;

          i {
            margin-right: 7px;
          }
        }

        .viewResolution:first-child {
          margin-right: 0;
        }

        .viewResolution.active {
          color: #0445fc;
        }

        .primary {
          background: rgba(4, 69, 252, 0.1);
          color: #0445fc;
        }
      }
    }

    .analysisBox {
      .analysisItem {
        display: flex;
        flex-direction: row;
        align-items: start;
        font-size: 14px;
        margin-bottom: 10px;

        .chapterSort {
          display: inline-block;
          vertical-align: middle;
          margin-right: 5px;
          opacity: 0.8;
        }

        .chapterItem {
          border: 1px solid rgba(1, 17, 61, 0.12);
          font-size: 12px;
          padding: 3px 10px;
          border-radius: 4px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 20px;
        }

        .itemTitle {
          width: 80px;
          font-family: PingFangSC-Semibold;
          color: rgba(1, 17, 61, 0.85);
          white-space: nowrap;
          flex-shrink: 0;
          padding-right: 10px;
        }

        .itemChildAnswer {
          font-family: PingFangSC-Regular;
          color: #01113d;
          flex: 1;
          white-space: pre-wrap;
          display: flex;
          flex-flow: row wrap;
          align-items: start;

          .childAnsContent {
            margin-right: 10px;
            display: flex;
            flex-direction: row;
            align-items: start;

            .answerFLex {
              display: flex;
              flex-direction: row;
              align-items: start;
            }
          }
        }

        .itemContent {
          font-family: PingFangSC-Regular;
          color: rgba(1, 17, 61, 0.85);
          flex: 1;
          white-space: pre-wrap;
          display: flex;

          .analysisItemTitle {
            margin-right: 5px;
          }

          .analysisChild {
            display: flex;
            flex-direction: row;
            white-space: pre-wrap;
            align-items: start;
          }
        }

        .itemAnalysisContent {
          color: rgba(1, 17, 61, 1);
        }
      }

      .rightTitle {
        font-family: PingFangSC-Medium;
        color: #4d7fff;

        span {
          margin-left: 5px;

          p {
            display: inline-block;
          }
        }
      }

      .buleTitle {
        font-family: PingFangSC-Medium;

        span {
          margin-left: 5px;

          p {
            display: inline-block;
          }
        }
      }

      img {
        max-width: 900px !important;
        max-height: 300px !important;
        object-fit: contain;
        cursor: pointer;
      }
    }
  }

  .listItem:hover {
    border: 2px solid rgba(4, 69, 252, 0.6543);
  }
}

.pagination {
  height: 37px;
  padding: 7px;

  :global {
    .ant-pagination {
      float: right;
    }
  }
}

.createUser {
  margin-right: 5px;
}
