.tableCourseDetail {
  border-radius: 0 0 15px 15px;
  background: #fff;
  padding-bottom: 10px;

  tr > td {
    padding: 2px 5px;
    height: 40px;
  }

  :global(.ant-table-scroll) {
    tr > th {
      padding: 12px 5px 22px;
    }
  }
}

.tableHeaderTitle {
  font-family: PingFangSC-Medium;
  font-size: 16px;
  color: #01113d;
  letter-spacing: 0;
  font-weight: 500;
  background-color: #fff;
}
