@import "../../utils/global.less";

.contentBody {
  background: #fff;
}

.textWarp {
  font-family: PingFangSC-Regular;
  font-size: 13px;
  color: #0445fc;
  font-weight: 400;
  cursor: pointer;
}

.mr14 {
  margin-right: 14px;
}

.referenceTitle {
  color: #28a745;
  font-size: 13px;
  padding-left: 30px;
  display: flex;
  align-items: center;

  .dashedLine {
    width: 30px;
    height: 2px;
    margin-right: 5px;
    background-image: repeating-linear-gradient(
      to right,
      #28a745 0,
      #28a745 8px,
      transparent 4px,
      transparent 12px
    );
  }

  .dashedLine1 {
    width: 30px;
    height: 2px;
    margin-right: 5px;
    background-image: repeating-linear-gradient(
      to right,
      #2a70e0 0,
      #2a70e0 8px,
      transparent 4px,
      transparent 8px
    );
  }
}

.referenceTitle1 {
  color: #2a70e0;
  font-size: 13px;
  padding-left: 30px;
  display: flex;
  align-items: center;

  .dashedLine1 {
    width: 30px;
    height: 2px;
    margin-right: 5px;
    background-image: repeating-linear-gradient(
      to right,
      #2a70e0 0,
      #2a70e0 8px,
      transparent 4px,
      transparent 8px
    );
  }
}

.noPass {
  color: #4818c9 !important;
  opacity: 1;
}

.fullscreenBtn {
  font-size: 13px;
  margin-right: 10px;
  float: right;
  cursor: pointer;
  color: rgba(1, 17, 61, 0.65);
}
